.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8f8fef;
  padding: 1rem 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 1.5rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #e4e4c0;
}

.navbar span {
  margin-right: 1.5rem;
  font-size: 1rem;
}

.navbar button {
  background-color: white;
  color: #8f8fef;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar button:hover {
  background-color: #e4e4c0;
  color: #5c5ccf;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right {
  gap: 1rem;
}

.navbar span {
  margin-right: 1.5rem;
  font-size: 1rem;
  transition: opacity 0.3s ease;
}
